html, body {
  height: 100%;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: white;
}

.login{
  display: flex;
  justify-content: center;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px 0px;
  box-shadow: 0px 0px 15px 2px rgb(0, 0, 0, 0.5);
}

img{
  background-color: #EBD0D3;
  width: 500px;
}

.container{
  padding: 30px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.formul{
  display: flex;
  flex-direction: column;   
}

.title{
  font-size: 32px;
  line-height: 36px;
  margin: 10px 0px;
}

.sub-title{
  font-size: 32px;
  line-height: 40px;
  margin: 10px 0px;
}

input{
  max-width: 300px;
  border-radius: 5px;
  margin: 5px 0px;
}

.label{
 
}

.actions{
  border-color: #DBDBDB;
}

.actions:hover{
  border-color: #B5B5B5;
}

.actions:focus{
  border-color: #3273DC;
}

.actions:invalid{
  border-color: #FF0000;
}

.actions:valid{
  border-color: #00D1B2;
}

.registrer{
  background-color: #00D1B2;
  height: 40px;
}

.registrer:hover{
  background-color: #00C4A7;
}

.registrer:active{
  background-color: #00B89C;
}

.checkbox{
 
}
.link{
  color:#3273DC;
}

.link:hover{
  color: #363636;
}

.small{
  
}

button{
  max-width: 100px;
  border-radius: 5px;
  color: white;
  margin: 5px 0px;
}